*{
    box-sizing: border-box;
  font-family: "Roboto", serif;
  font-size: .96rem;

}

#customer-id{
  color: darkblue;
  font-size: 1.1rem;
  font-weight: bold;
}
#policy-id{
  color: green;
  font-size: 1.1rem;
  font-weight: bold;
}
#date{
  background-color: #61dafb;
  padding: 5px;
}

label{
  /*margin: 5px;*/
  margin-bottom: 10px;

  padding: 5px;

}
input,select{
  margin: 5px;
  background-color: lightblue;
  border-radius: 5px;


}


@media (max-width: 480px) {
  input,select{
    margin: 5px;
    background-color: lightblue;
    border-radius: 5px;
    width: 45vw;
  }
  label{
    /*margin: 5px;*/
    margin-bottom: 10px;
    padding: 5px;


  }
}
